optuna==2.10.0
darts==0.20
pytest==7.1.2
tensorboard==2.8.0
pandas==1.4.3
statsmodels==0.13
openml==0.11
pyod==1.0.4
tamu_axolotl==2021.4.8
combo==0.1.3
simplejson==3.12.0
PyWavelets==1.1.1
pillow==7.1.2
pyod==1.0.4
nimfa==1.4.0
stumpy==1.4.0
more-itertools==8.5.0
